<!DOCTYPE html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ace Student</title>
    <meta name="description" content="">
    <meta name="keywords" content="ace student portal">
    <meta name="author" content="fudio">
    
    <link rel="shortcut icon" href="img/ACE.jpg" type="image/x-icon">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

  
    <link rel="stylesheet" href="css/nivo-lightbox.css" >
    <link rel="stylesheet" href="css/nivo_lightbox_themes/default/default.css">



    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <!-- Google Fonts
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/modernizr.custom.js"></script>

   
  </head>
  <body>

    <!-- Main Navigation 
    ================================================== -->
    <%- include('./main-nav.ejs')%>

    <!-- Home Section
    ================================================== -->
    <%- include('./home.ejs')%>

    <!-- Intro Section
    ================================================== -->
    <%- include('./intro.ejs')%>

    <!-- my info pillagada
    ================================================== -->
    <%- include('./my-info.ejs')%>
    <!-- time table Section
    ================================================== -->
    <%- include('./timetable.ejs')%>
    <!-- news
    ================================================== -->
    <%- include('./news.ejs')%>
    <!-- notices============================= -->
    <%- include('./notices.ejs')%>
    <!-- Contact 
    ================================================== -->
    <%- include('./contact.ejs')%>
    <!-- Footer 
    ================================================== -->
    <%- include('./footer.ejs')%>
    


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>

    <script type="text/javascript" src="js/bootstrap.js"></script>

    <script type="text/javascript" src="js/owl.carousel.js"></script>

    <script type="text/javascript" src="js/SmoothScroll.js"></script>

   

    <!-- Parallax Effects -->
    <script type="text/javascript" src="js/skrollr.js"></script>
    <script type="text/javascript" src="js/imagesloaded.js"></script>

    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <script type="text/javascript" src="js/nivo-lightbox.min.js"></script>

    <script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="js/contact.js"></script>

    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>